<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 합쳐지고 최소화된 최신 CSS -->

<p>hello! 영화 등록</p>
<div class="container">
  <form action="/movie" method="post">
    <div class="form-group">
      <label for="title">등록할 영화 정보를 입력하세요</label>
      <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
      <input type="number" id="price" name="price" placeholder="가격을 입력하세요">
      <input type="text" id="date" name="date" placeholder="날짜를 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div>
</body>
</html>