<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- 합쳐지고 최소화된 최신 CSS -->

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Movie List</th></br>
            </tr>
            </thead>
            <tbody>
            <form action="/ticket" method="post">
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.price}"></td>
                <td th:text="${movie.date}"></td>
                </div>
                </label>
                    </br>
            </tr>
                </br><button type="submit">선택하기</button>
            </form>
            </tbody>
        </table>

    </div>
</div> <!-- /container -->
</body>
</html>

<!--${}는 모델안의 값을 꺼내는 것-->
<!--th:each는 티입리프문법 =foreach-->
<!--member.name이라고 하면 member.getName()을 thmeleaf가 호출한다.=>자바빈프로퍼티접근법-->