<!DOCTYPE html>

<p>hello! 티켓등록</p>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Movie List</th></br>
            </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.id}"></td>
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.price}"></td>
                    <td th:text="${movie.date}"></td>

    </br>
    </tr>
    </form>
    </tbody>
    </table>

</div>
</div>
<div class="container">
    <form action="/ticket" method="post">
        <div class="form-group">
            <label for="name">티켓정보를 입력하세요</label></br>
            <input type="text" id="name" name="username" placeholder="유저이름을 입력하세요"></br>
            <input type="email" id="email" name="email" placeholder="이메일을 입력하세요"></br>
            <input type="text" id="title" name="title" placeholder="영화제목을 입력하세요"></br>
            <input type="text" id="date" name="date" placeholder="영화상영일을 입력하세요"></br>
        </div>
        </br>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>