<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 합쳐지고 최소화된 최신 CSS -->

<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>영화정보</th>
      </tr>
      </thead>
      <tbody>
      <tr th:object="${ticket}">
        <td><span th:text="*{id}"></span></td>
        <td><span th:text="*{}"></span></td>
        <td><span th:text="*{price}"></span></td>
        <td><span th:text="*{date}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>

<!--${}는 모델안의 값을 꺼내는 것-->
<!--th:each는 티입리프문법 =foreach-->
<!--member.name이라고 하면 member.getName()을 thmeleaf가 호출한다.=>자바빈프로퍼티접근법-->